body {
    background-image: url("https://static.myfigurecollection.net/upload/pictures/2020/07/07/2470721.gif");
    background-color: #e3e3e3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}